<div style="width:100px;min-height:130px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <span style="font-weight: bold;font-size : 12px;">#name#</span><br/>
        <span style="font-size: 3.5em;" id="iconCmd#id#"></span>
    </center>
    <script>
       if ('#state#' == 'off') {
            $('#iconCmd#id#').append('<img style="width:105px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrlzone_off.png">');
        } else if ('#state#' == 'heating_manu') {
            $('#iconCmd#id#').append('<img style="width:105px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrlzone_heat_manu.png">');
        } else if ('#state#' == 'heating_prog') {
            $('#iconCmd#id#').append('<img style="width:105px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrlzone_heat_prog.png">');
        } else if ('#state#' == 'cooling_manu') {
            $('#iconCmd#id#').append('<img style="width:105px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrlzone_cool_manu.png">');
        } else if ('#state#' == 'cooling_prog') {
            $('#iconCmd#id#').append('<img style="width:105px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrlzone_cool_prog.png">');
        } else {
            $('#iconCmd#id#').append('<img style="width:105px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrlzone_off.png">');
        }
    </script>
</div>