<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-cmd_id="#id#" data-cmd_uid="#uid#" style="width : 150px;height : 120px;display:block;">
    <span id="iconCmd#uid#" class="pull-left" style="position : relative;font-size: 6em;height:100px;"></span>
    <div>
        <div style="margin-top : 20px; font-size:15px;" >
            <input style="font-size:15px;" type="text" class="dial" value="#state#" data-min="#minValue#" data-max="#maxValue#" data-width="100" data-height="100"/>
        </div>
        <div style="position: relative; top: -20px; left : 60px;">
            #unite#
        </div>
    </div>
    <script>
        $.include(['plugins/cozytouch/core/template/dashboard/cmd.action.slider.thermheatelec/jquery.kontrol.js'], function() {
        $(".cmd[data-cmd_uid=#uid#] .dial").dial({
            fgColor: "#FFFFFF",
                    bgColor: '#cmdColor#',
                    noScroll: true,
                    release: function(v) {
                        jeedom.cmd.execute({id: '#id#', value: {slider: v}});
                    },
                    draw : function(){
                        setTimeout(function() {
                        $(".cmd[data-cmd_uid=#uid#] .dial").css('margin-top', '0px');
                        setTimeout(function() {
                             $(".cmd[data-cmd_uid=#uid#] .dial").css('margin-top', '33px');
                         }, 100);
                         }, 200);
                    }
            });
           
            if (parseInt('#state#') > 21) {
                $('#iconCmd#uid#').append('<i class="icon jeedom-thermo-chaud"></i>');
            }
            if (parseInt('#state#') >= 19 && parseInt('#state#') <= 21) {
                 $('#iconCmd#uid#').append('<i class="icon jeedom-thermo-moyen"></i>');
            }
            if (parseInt('#state#') < 19) {
                $('#iconCmd#uid#').append('<i class="icon jeedom-thermo-froid"></i>');
            }
        });
    </script>

</div>
