<div style="width:80px;min-height:120px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <span style="font-size: 3.5em;" class="iconCmd#id#"></span>
    </center>
    <script>
        jeedom.cmd.update['#id#'] = function(_options){
            if (_options.display_value < 10) {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_temp_0.png">');
            } else if (_options.display_value < 20) {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_temp_1.png">');
            } else if (_options.display_value < 30) {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_temp_3.png">');
            } else if (_options.display_value < 40) {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_temp_4.png">');
            } else if (_options.display_value < 50) {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_temp_5.png">');
            } else if (_options.display_value < 60) {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_temp_6.png">');
            } else if (_options.display_value < 70) {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_temp_7.png">');
            } else if (_options.display_value < 80) {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_temp_8.png">');
            } else if (_options.display_value < 90) {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_temp_9.png">');
            } else {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_temp_10.png">');
            }
        }
        
        jeedom.cmd.update['#id#']({display_value:'#state#'});
    </script>
</div>