<div style="width:100px;min-height:150px;" class="cmd cmd-widget #history#" 
    data-type="info" data-subtype="string" 
    data-cmd_id="#id#" data-cmd_uid="#uid#" data-eqLogic_id="#eqLogic_id#" title="#collectDate#">
    <center>
        <span style="font-weight: bold;font-size : 12px;">#name#</span><br/>
        <span style="font-size: 3.5em;" class="iconCmd#id#"></span>
    </center>
    <script>
        jeedom.cmd.update['#id#'] = function(_options){
            if (_options.display_value == 'stop') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrl_off.png">');
            } else if (_options.display_value == 'heating') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrl_heat.png">');
            } else if (_options.display_value == 'cooling') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrl_cool.png">');
            } else if (_options.display_value == 'drying') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrl_dry.png">');
            } else {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;height: 100px;" src="plugins/cozytouch/core/template/images/zonectrl_auto.png">');
            }
        }
        jeedom.cmd.update['#id#']({display_value:'#state#'});
    </script>
</div>