<div style="width:80px;min-height:120px;" class="cmd cmd-widget #history#" 
    data-type="info" data-subtype="string" 
    data-cmd_id="#id#" data-cmd_uid="#uid#" 
    data-eqLogic_id="#eqLogic_id#" title="#collectDate#">
    <center>
        <span style="font-size: 3.5em;" class="iconCmd#id#"></span>
    </center>
    <script>
        jeedom.cmd.update['#id#'] = function(_options){
            if (_options.display_value == 'off') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_off.png">');
            } else if (_options.display_value == 'eco') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_eco.png">');
            } else if (_options.display_value == 'prog') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_prog.png">');
            } else {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:80px;height: 140px;" src="plugins/cozytouch/core/template/images/hotwater_on.png">');
            }
        }
        jeedom.cmd.update['#id#']({display_value:'#state#'});
    </script>
</div>