<div style="width:100px;min-height:100px;" class="cmd cmd-widget #history#" 
    data-type="info" data-subtype="string" 
    data-cmd_id="#id#" data-cmd_uid="#uid#" 
    data-eqLogic_id="#eqLogic_id#" title="#collectDate#">
    <center>
        <span style="font-size: 3.5em;" class="iconCmd#id#"></span>
    </center>
    <script>
        jeedom.cmd.update['#id#'] = function(_options){
            if (_options.display_value == 'boost') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;min-height:100px;" src="plugins/cozytouch/core/template/images/vent_boost.png">');
            } else if (_options.display_value == 'refresh') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;min-height:100px;" src="plugins/cozytouch/core/template/images/vent_refresh.png">');
            } else if (_options.display_value == 'prog') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;min-height:100px;" src="plugins/cozytouch/core/template/images/vent_prog.png">');
            } else if (_options.display_value == 'manual') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;min-height:100px;" src="plugins/cozytouch/core/template/images/vent_manual.png">');
            } else if (_options.display_value == 'high') {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;min-height:100px;" src="plugins/cozytouch/core/template/images/vent_high.png">');
            } else {
                $('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append('<img style="width:100px;min-height:100px;" src="plugins/cozytouch/core/template/images/vent_auto.png">');
            }
        }
        jeedom.cmd.update['#id#']({display_value:'#state#'});
    </script>
</div>