<div style="width:80px;min-height:120px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <span style="font-size: 3.5em;" class="iconCmd#id#"></span>
    </center>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			$(".iconCmd#uid#").empty();
			if (parseInt(_options.display_value) == 1) {
				$('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append("<img width=100px src='plugins/cozytouch/core/template/images/ChauffeEauOn.png'>");
			} else {
				$('.cmd[data-cmd_id=#id#] .iconCmd#id#').empty().append("<img width=100px src='plugins/cozytouch/core/template/images/ChauffeEauOff.png'>");
			}
			$('.cmd[data-cmd_id=#id#]').attr('title','Valeur du '+_options.valueDate+', collectée le '+_options.collectDate);
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
	</script>
</div>
